
/*
** NOTE FORM
*/
/* div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color:white;
  border: 2px solid #4CAF50;
}
.noteform {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 20px auto 15px;
    
  }
  .noteform h3 {

    color: #171717;
  }
  .noteform .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  
  /*
  ** NOTES LIST
  */
/* 
.wrapper {
  border: 2px solid #f76707;
  border-radius: 5px;
  background-color: #fff4e6;
}

.wrapper > div {
  border: 2px solid orange;
  border-radius: 5px;
  background-color: orange;
  padding: 1em;
  color:blue;
}
h3{
  justify-self: start;

}
.wrapper {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 10px;
}


  .notes .note .note-title .remove {
    color: #FF0000;
    font-size: 24px;
    float: right;
    font-weight: 700;
  }
  
  .notes .note .note-content {
    padding: 15px;
  }
.notee{
  border:1px solid gray;
  align-items: initial;
}
main {
    padding: 50px;
    overflow: scroll;
  }

  rating {
    display: flex;
    flex-direction: row;
    justify-content: center
} */ 

body {
  margin: 0;
  min-width: 250px;
}

/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: orange;
  color: white;
}

/* Style the header */
.header {
  background-color: orange;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
h2{
  margin:5px;
}
/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
